.o_form_view.tsc_hide_line_controls {
    .o_field_x2many_list_row_add,
    .o_list_record_remove,
    .o_list_row_add_control,
    td.o_list_record_remove,
    th.o_list_record_remove {
        display: none !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }
}

.tsc_hide_line_controls {
    .o_field_x2many_list_row_add,
    .o_list_record_remove,
    .o_list_row_add_control,
    td.o_list_record_remove,
    th.o_list_record_remove {
        display: none !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }
}
