.import_summary_green-row {
    color: #008000 !important;
}

.import_summary_orange-row {
    color: #E65100 !important;
}

.import_summary_yellow-row {
    color: #c3cb2f !important;
}

.import_summary_black-row {
    color: #000000 !important;
}

.import_summary_blue-row {
    color: #6699FF !important;
}

