.import_summary_green-row {
    color: #28a745 !important;
}

.import_summary_orange-row {
    color: #E65100 !important;
}

.import_summary_yellow-row {
    color: #c3cb2f !important;
}

.import_summary_black-row {
    color: #000000 !important;
}

.import_summary_red-row {
    color: #cd2635 !important;
}

.import_summary_blue-row {
    color: #6699FF !important;
}

.import_summary_neutral-field {
    color: #444b5a;
}

